@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>STUDENT MANAGEMENT APPLICATION</h2>
</div>

<div>
    @Html.ActionLink("The School", "Index", "School") <br />
    @Html.ActionLink("List of students", "Index", "Students")<br />
    @Html.ActionLink("List of departments", "Index", "Departments") <br />
    @Html.ActionLink("List of genders", "Index", "Genders") <br />
</div>

