USE [master]
GO
/****** Object:  Database [stmgt]    Script Date: 01/04/2019 20:06:36 ******/
CREATE DATABASE [stmgt]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'stmgt', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.PROCASQLSERVER\MSSQL\DATA\stmgt.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'stmgt_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.PROCASQLSERVER\MSSQL\DATA\stmgt_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [stmgt].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [stmgt]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 01/04/2019 20:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[idDept] [int] NOT NULL,
	[DeptName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[idDept] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 01/04/2019 20:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[idStudent] [int] NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[MiddleName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[idGender] [int] NULL,
	[idDept] [int] NULL,
	[idTitle] [int] NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[idStudent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentSeniorities]    Script Date: 01/04/2019 20:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentSeniorities](
	[idSeniority] [int] NOT NULL,
	[StudentTitle] [nvarchar](50) NOT NULL,
	[Years] [int] NOT NULL,
 CONSTRAINT [PK_StudentSeniorities] PRIMARY KEY CLUSTERED 
(
	[idSeniority] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subjects]    Script Date: 01/04/2019 20:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subjects](
	[idSubject] [int] NOT NULL,
	[SubjectName] [nvarchar](50) NULL,
	[Credits] [int] NULL,
	[idDept] [int] NULL,
	[idStudentYear] [int] NULL,
 CONSTRAINT [PK_Subjects] PRIMARY KEY CLUSTERED 
(
	[idSubject] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheSchool]    Script Date: 01/04/2019 20:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheSchool](
	[SchoolName] [nchar](250) NOT NULL,
	[BaseYear] [int] NULL,
	[Year] [int] NULL,
 CONSTRAINT [PK_TheSchool] PRIMARY KEY CLUSTERED 
(
	[SchoolName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
