@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h2>UNIVERSITY OF COMPUTER SCIENCES AND PHYSICS</h2>
</div>

<div>
    @Html.ActionLink("List of departments", "Index", "Departments")<br />
    @Html.ActionLink("List of students", "Index", "Students")<br />
    @Html.ActionLink("List of subjects", "Index", "Subjects")<br />
    @Html.ActionLink("List of student titles", "Index", "StdTitles")<br />


</div>