@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>UNIVERSITY OF COMPUTER SCIENCES AND PHYSICS</h1>
</div>

<div>
    @Html.ActionLink("List of departments", "Index", "Departments")<br />
    @Html.ActionLink("List of students", "Index", "Students")<br />
    @Html.ActionLink("List of enrollments", "Index", "Enrollments")<br />
    @Html.ActionLink("List of student titles", "Index", "StdTitles")<br />

</div>